_site
.bundle
.sass-cache
.jekyll-cache
.jekyll-metadata
.DS_Store
.DS_store
.ruby-version
.tweet-cache
assets/libs/
node_modules/
vendor
.idea
.devcontainer/
.all-contributorsrc
.git-blame-ignore-revs
.pre-commit-config.yaml
.prettierignore
.prettierrc
CONTRIBUTING.md
CUSTOMIZE.md
Dockerfile
FAQ.md
INSTALL.md
docker-compose.yml
docker-compose-slim.yml
assets/audio/
assets/bibliography/
assets/json/
assets/pdf/
assets/plotly/
assets/video/
assets/img/publication_preview/
assets/img/1.jpg
assets/img/2.jpg
assets/img/3.jpg
assets/img/4.jpg
assets/img/5.jpg
assets/img/6.jpg
assets/img/7.jpg
assets/img/8.jpg
assets/img/9.jpg
assets/img/10.jpg
assets/img/11.jpg
assets/img/12.jpg
assets/img/prof_pic.jpg
assets/img/prof_pic_color.png
assets/img/template_error.png
requirements.txt
.github/release.yml
.github/stale.yml
